*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    --blue: hsl(210, 50%, 50%);
    --grey: hsl(210, 50%, 90%);
    background-color: hsl(210, 0%, 10%);
    color: white;
}

.title {
    text-align: center;
    font-size: 56px;
    font-weight: bold;
    margin: 20px;
}

.container {
    max-width: 700px;
    margin: 20px auto;
    display: flex;
    border: 2px solid var(--blue);
    border-right: 10px solid var(--blue);
    height: 50vh;
    background-color: white;
    color: black;
}

.container__users {
    flex-basis: 200px;
    display: flex;
    flex-direction: column;
    border-right: 2px solid var(--blue);
}


.container__users__user {
    display: flex;
    justify-content: center;
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid hsl(200, 50%, 90%);
}

.container__users__user:hover {
    background-color: hsl(210, 10%, 90%);
}

.container__users__user:hover > .container__users__user__name {
    color: var(--blue);
}


.container__users__user__img {
    width: 20px;
    height: auto;
    margin-right: 10px;
}

.container__users__user__name {
    font-size: 18px;
}

.active {
    background-color: hsl(210, 10%, 90%);
}

.container__user-profile {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container__user-profile__info {
    padding: 20px;
    text-align: center;
    border: 2px solid var(--grey);
    flex-basis: 300px;
}

.container__user-profile__info > p {
    color: hsl(210, 20%, 50%);
    margin: 10px 0;
}

.container__user-profile__info__img {
    width: 80px;
    height: auto;
}

.container__user-profile__info__name {
    margin: 20px 0;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0.05em;
}

